<div class="card">
  <div class="card-body">
    <h5 class="card-title">Email:</h5>
    <p class="card-text">charlie_bi@hotmail.com</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">LinkedIn Profile:</h5>
    <p class="card-text">https://www.linkedin.com/in/cbi94/</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Address:</h5>
    <p class="card-text">Toronto, Ontario</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Phone #:</h5>
    <p class="card-text">416.529.2766</p>
  </div>
</div>