<div class="card-group">
  <div class="card">
    <img src="/Assets/images/Proj1.PNG" class="card-img-top" alt="a pong game">
    <div class="card-body">
      <h4 class="card-title">Pong Game</h4>
      <p class="card-text">Created a 2D pong game in Unity with functional AI.</p>
    </div>
  </div>
  <div class="card">
    <img src="/Assets/images/Proj2.PNG" class="card-img-top" alt="a space invaders game">
    <div class="card-body">
      <h4 class="card-title">Space Invaders</h4>
      <p class="card-text">Created 2D space invaders game in Unity.</p>
    </div>
  </div>
  <div class="card">
    <img src="/Assets/images/Proj3.PNG" class="card-img-top" alt="a demo webpage">
    <div class="card-body">
      <h4 class="card-title" >Mock Webpage</h4>
      <p class="card-text">Created HTML and CSS for mock website layout.</p>
    </div>
  </div>
</div>