<div class="card text-center">
    <div class="card-header">
      Hey you!
    </div>
    <div class="card-body">

      <h5 class="card-title">Welcome to my Website!</h5>

      <blockquote class="blockquote">
      <p><i>Quality products, uncompromising standards, bold vision.</i></p>
      </blockquote>

      <p class="card-text">Want to learn more?</p>

      <p class="card-text">Click on the button below!</p>

      <a href="/about" class="btn btn-primary">About Me</a>

    </div>
</div>
